@model PART3.Models.Lecturer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lecturer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lecture_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lecture_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lecturer_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lecturer_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lecturer_Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lecturer_Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lecturer_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lecturer_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lecturer_Contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lecturer_Contact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Program)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Program)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Module_Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Module_Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hours_Worked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hours_Worked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hourly_Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hourly_Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Of_Session)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_Of_Session)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UploadedFileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UploadedFileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
